<!DOCTYPE html>
<html>
	<head>
		<title>USCGA CYBER</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tooltip.css') }}"/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"/>

		<!-- Favicon junk -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
		<link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
		<link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
		<meta name="apple-mobile-web-app-title" content="USCGA CYBER">
		<meta name="application-name" content="USCGA CYBER">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="msapplication-config" content="{{ url_for('static', filename='favicons/browserconfig.xml') }}">
		<meta name="theme-color" content="#ffffff">

		<script src="{{ url_for('static', filename='js/cmdline.js') }}"></script> 
	</head>
	<body>

	<div style="width:500px; margin: 200px auto; text-align:center; color:white">
		<img class="no-select" src="{{ url_for('static', filename='img/logo_white.png') }}" width="250px" height="250px" style="display:block;margin:auto"  ondragstart="return false;">
		<h1 class="no-select">USCGA CYBER</h1>
		
		<!-- Message flashes -->
		<div style="background-color: darkred;">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p>{{ message }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>

		<!-- Terminal Prompt | Session_Button -->
		<div style="display: flex">
			<div style="text-align: left">
				<div id='prompt'>
					<span style="color:#FFCE9F">{{screenname}}</span>@<span style="color:#7EA6E0">uscgacyber</span><span style="color:#CCCCCC">:~$</span><span id="prompt-dir"></span>
				</div>
			</div>
			<div style="flex-grow: 1; text-align: left">
				<form id="cmdline" onsubmit="return executeCmd()">
					<input id="cmd" type="text" class="prompt-field" placeholder="{{cmd_placeholder}}" autofocus/>
				</form>
			</div>
			<div class="tooltip no-select" style="width:12px; margin-left: 12px">
				?
				<span class="tooltiptext">Try 'su [username]'</span>
			</div>
		</div>

		<!-- Navigation -->
		<div class='navbar'>
			<ul>
				% for menu_item in menu
				<li><a href="{{ menu_item.url }}">{{ menu_item.name }}</a></li>
				% endfor
			</ul>
		</div>
	</div>

	</body>
</html>
