# MongoData
.mongoData/
mongo_data/

# Uploads
uploads/

# venv
env/
.env/
venv/
.venv/
riftenv/

# vs
.vs/

# vscode
.vscode/

# subl
*.sublime-workspace
*.sublime-project

# App Secret
secret.key
invite_code.txt

# Production
wsgi.py

# Cache
__pycache__/
